@import url('https://fonts.googleapis.com/css2?family=Signika:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap');

body{
    overflow-x: hidden ;
}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 50px;
    box-sizing: border-box;
    transition: 1.5s;
    background-color: #DCF2FC;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.nav .logo1{
    float: left;
    text-decoration: none;
    font-family: 'Signika', sans-serif;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.nav .logo1 p{
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 10px;
    color: #000;
    font-size: 3rem;
    font-weight: 600;
    position: relative;
}

.nav .logo1 img {
    height: 70px;
    transition: .5s;
}

.nav ul {

    position: relative;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav ul li{

    list-style: none;
}

.nav ul li a {
    position: relative;
    padding: 5px 20px;
    margin: 20px 0;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600 !important;
    display: flex;
}

.nav ul li a img{
    height: 30px;
    transition: .5s;
    margin-left: 10px;
}

.nav ul li a:hover,
.nav ul li a.active{

    border-bottom: 2px solid rgba(0, 0, 0);
    
}

.nav.black{
    background: rgba(0, 0, 0, 0.6);
}

.toggle{

    display: none;
    position: absolute;
    right: 10px;
    top: 26px;
    color: rgb(0, 0, 0);
    padding: 5px;
    cursor: pointer;
    font-size: 24px;
}


footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding: 10px 50px;
    box-sizing: border-box;
    transition: 1.5s;
    background-color: #DCF2FC;
}

.container{
    top: 100px;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: grid;
    place-items: center;
    font-family: 'Signika', sans-serif;
}


@media (max-width: 900px){
    .nav{
        padding: 0 0 !important;
        width: 100vw !important;
    }

    .nav ul {
        width: 100% !important;
        top: 16px !important;
        display: none !important;
    }

    .nav .logo1{
        margin-top: 10px;
        margin-left: 10px;
    }

    .nav ul.active1{
        display: block !important;
    }

    .nav ul li a {

        margin: 0 !important;
        display: block !important;
        text-align: center !important;
        color: white !important;
        background: rgba(0, 0, 0, 0.6)!important;
    }

    .nav .toggle{
        right: 10px !important;
        display: block !important;
    }

    .nav .toggle i{
        font-size: 30px;
    }
}